<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <div class="username">
            <input type="text" placeholder="用户名" v-model="name">
        </div>
        <div class="mail">
            <input type="text" placeholder="邮箱" v-model="mail">
        </div>
        <div class="upload-btn" @click="handleUpload">上传</div>
        <!-- <div class="test-btn" @click="handleTest">测试jsonp</div> -->
        <div class="show-btn" @click = "handleShow">显示信息</div>
        <ul class="person-list">
            <li class="person" v-for="person in personList"><span> {{ person.name }}</span> <span>{{ person.mail }}</span></li>
        </ul>
    </div>


    <script>
        axios.defaults.baseURL='https://developer.duyiedu.com/vue';
        const vm = new Vue({
            el:'#app',
            data:{
                name:'',
                mail:'',
                msg:'',
                personList:[]
            },
            methods:{
                handleUpload(){
                  const {name,mail} = this;
                  axios.post('/setUserInfo',{
                      name,mail
                  }).then(res=>{
                      this.msg = res.data.msg;
                  })
                
                },
                handleShow(){
                  axios({
                      method:'get',
                      
                      url:'/getUserInfo'
                  }).then(res=>{
                      this.msg = res.data.msg;
                      this.personList = res.data.data;
                      console.log(res.data)
                  })
                }
                // handleTest(){
                //     this.$http.jsonp('https://developer.duyiedu.com/vue/jsonp').then(res=>{
                //         console.log(res)
                //     })
                // }
            },
            watch:{
                msg(){
                    if(this.msg === ''){
                        return ;
                    }   
                    alert(this.msg);
                    this.msg = ''
                }
            }

        })
    </script>
</body>
</html>